<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{title}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p *ngFor="let f of filters; let i = index" class="app-mat-checkbox">
      <mat-checkbox *ngIf="f.selected" (click)="selectValue(i)" checked="1" id="index-{{f.index}}">{{f.value}}</mat-checkbox>
      <mat-checkbox *ngIf="!f.selected" (click)="selectValue(i)" id="index-{{f.index}}">{{f.value}}</mat-checkbox>
    </p>
  </mat-expansion-panel>
</mat-accordion>
