<main class="container"
  fxLayout fxLayout.lt-lg="column"
  fxLayoutAlign="center" fxLayoutGap="10px"
  fxLayoutGap.lt-lg="0">

  <section fxFlex="15%">
    <mat-card>
      <mat-card-subtitle> Filter </mat-card-subtitle>
    </mat-card>
      <div class="app-filter-item">
        <app-houses-filter title="Topology" [data]="topologyFilters" (valueSelected)="selectTopology($event)" expanded="false"></app-houses-filter>
      </div>
      <div class="app-filter-item">
        <app-houses-filter title="Status" [data]="statusFilters" (valueSelected)="selectStatus($event)" expanded="false"></app-houses-filter>
      </div>

      <div class="app-filter-item">
        <app-houses-filter title="NGR" [data]="ngrFilters" (valueSelected)="selectNgr($event)" expanded="false"></app-houses-filter>
      </div>

      <div class="app-filter-item">
        <app-houses-filter title="Provider" [data]="providerFilters" (valueSelected)="selectProvider($event)" expanded="false"></app-houses-filter>
      </div>
  </section>

  <section fxFlex="85%">
    <div fxLayout="column">
        <mat-card>
          <mat-card-subtitle> Total: {{dataset.length}} </mat-card-subtitle>
        </mat-card>
        <app-houses-table [dataset]="dataset" (sortDataEvent)="sortData($event)"></app-houses-table>
    </div>
  </section>

</main>
