@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

$background-color: #303030;

html, body { height: 100%; }
body {
  background-color: $background-color;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
